html,
body {
  width: 100%;
  height: 110px;
  overflow-x: hidden;
  background: url('https://images.unsplash.com/photo-1444858345149-8ff40887589b?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700') center center / cover no-repeat;*/*/*/
  /*background: -webkit-linear-gradient(SlateBlue, RoyalBlue);
  background: linear-gradient(SlateBlue, RoyalBlue);*/
}
/*header {
  background: url('https://images.unsplash.com/photo-1444858345149-8ff40887589b?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700') center center / cover no-repeat;
   height: 100;
  width: 100%;
  z-index: 10;*/
}*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
/*The nav bar*/
nav,
nav ul {
  position: fixed;
  width: 100%;
  height: 100%;
}
nav {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
nav ul li {
  display: table;
  width: 100%;
  height: calc(100% /4);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  /*background: rgba(255,255,255,0.15);*/
  -webkit-perspective: 0px;
          perspective: 0px;
  -webkit-transform: rotateX(-90deg) scale(0.5);
          transform: rotateX(-90deg) scale(0.5);
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
nav ul li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
}
nav ul li a:hover {
  background: rgba(255,255,255,0.1);
}
#toggle {
  display: none;
}
#toggle + #toggle-btn,
.nav-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}
#toggle + #toggle-btn {
  height: 40px;
  width: 40px;
  z-index: 1000;
  background: rgba(0,0,0,0.05);
}
.nav-icon,
.nav-icon:before,
.nav-icon:after {
  position: absolute;
  height: 4px;
  width: 40px;
  margin: 18px 0;
  z-index: 900;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.nav-icon:before {
  content: "";
  margin-top: -18px;
}
.nav-icon:after {
  content: "";
  margin-top: 18px;
}
#toggle:checked ~ nav {
  opacity: 1;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
#toggle:checked ~ .nav-icon {
  background: rgba(255,0,0,0);
}
#toggle:checked ~ .nav-icon:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-top: 0;
}
#toggle:checked ~ .nav-icon:after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-top: 0;
}
#toggle:checked ~ nav ul li {
  -webkit-transform: rotateY(0deg) scale(1);
          transform: rotateY(0deg) scale(1);
}
/*end of nav styling*/

.icon-heart {
  color: #d92626;
}
.main-intro {
  margin: 0 auto;
  width: 100%;
  max-width: 80em;
}
.main-intro:before,
.main-intro:after {
  content: "";
  display: table;
  clear: both;
}
.main-intro p {
  float: left;
  text-align: center;
  width: 100%;
  padding: 0 1.25em 1.25em 1.25em;
}
footer {
  margin: 0 auto;
  width: 100%;
  background: #ffffff;
  border-top: 0.0625em solid lightgrey;
  bottom: 0;
  color: #000000;
  height: 5em;
  position: absolute;
}
footer:before,
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer p {
  float: left;
  text-align: center;
  width: 100%;
  padding: 1.25em;
}
