
@import url(http://fonts.googleapis.com/css?family=Lato);

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/*html, body {
background-color: #330066;
margin:  0 auto;
padding: 0;
height: 100%; 
width: 100%; 
font-family: "Lato", sans-serif;
max-width: 1600px; 
}*/

#tabbed-interface{
overflow: hidden; 
width: 100%; 
height: 100%;
margin: 0 auto; 
padding-left: 0;
padding-top: 0;
position: relative; 
}
	

#tabbed-interface ul{
background-color:; 
width: 90%; 
height: 90%;
position: absolute; 
overflow: hidden; 
margin: -0% 0 0 -45%;
left: 50%;
top: 5%;
}

#tabbed-interface ul li{
width: 31%; 
height:  31%;
position: absolute;
text-align: center;
transition: all ease-out 0.3s;
user-select: none;
cursor: pointer;
-webkit-box-shadow: 15px 15px 15px rgba(0,0,0, .25);
-moz-box-shadow: 15px 15px 15px rgba(0, 0, 0, .25);
box-shadow: 15px 15px 15px rgba(0, 0, 0, .25);
}

#tabbed-interface ul li a { 
display: inline-block; 
text-decoration: none; 
height: 100%;
width: 100%; 
position: relative;
color: white; 
text-align: center;
}

#tabbed-interface ul li p {
text-decoration: none; 
color: white;
font-size: 1.1em;
font-family: "Lato", sans-serif;
font-weight: 400;
left: 50%;
text-transform: uppercase; 
position: absolute;
top: 54%;
text-align: center;
width: 100%;
margin: 0px 0 0 -50%; 
}
#tabbed-interface ul li a span {
font-size: 2.3em;
position: absolute;
top: 28%;
left: 50%;
width: 80%;
margin: 0px 0 0 -40%; 
}


li.work,  li.info, #tab1,  #tab8 {background: #3399ff; 
 
	
}

li.news, #tab2, #tab8   { background: #cc0033;

}
li.lockin , li.contact, #tab3, #tab7 { background: #03A8A6; 
}



li.cloud , li.mobile,  #tab4 , #tab9{background: #6633cc;

}

li.labs,  #tab5{background: #009933;

}
li.latest-posts,  #tab6{  background: #E25422;

} 



li.work {
 top: 0;
  left: 1%;
  margin: 0 0 0 0; 
}

li.news { 
top: 0;
  left: 50%;
  margin: 0 0 0 -15%; 
}

li.lockin  {
 top: 0;
  left: 99%;
   margin: 0 0 0 -30%;
}


li.cloud {

top: 33.33333%;
  left: 1%;
  
}

li.labs{
 margin: 0% 0 0 -15%;
top: 33.33333%;
  left: 50%;
  
}


li.latest-posts {  
top: 33.33333%;
  left: 99%;
  margin: 0 0 0 -30%;
} 


li.contact {
 top: 66.66666%;
  left: 1%;
	
}

li.info { 
top: 66.66666%;
  left: 50%;
   margin: 0% 0 0 -15%
}
